{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur partage tout !{% endblock %}

{% block body %}

	
	<h1>Liste des concepts</h1>

		<div class="row mb-5>

			{% for concept in concepts %}
			
					<article class="col-md-4">
					<img src="{{ vich_uploader_asset(concept)| imagine_filter('image_small') }}" alt="{{ concept.title }}">
					<h2><a href="{{ path('concept_show',{id: concept.id}) }}">{{ concept.title }}</a></h2>
					<p>
						{{ concept.description }}
					</p>
					
					</article>
				
		
			{% endfor %}
		

		</div>

{% endblock %}
