{% extends 'base.html.twig' %}

{% block title %} {{ concept.title }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        	<article >
					<img src="{{ vich_uploader_asset(concept)| imagine_filter('image_medium') }}" 
					alt="{{ concept.title }}" class= "w-100">
					<h2><a href="{{ path('concept_show',{id: concept.id}) }}">{{ concept.title }}</a></h2>
					<p>
						{{ concept.description }}
					</p>
					
			</article>


        <div pl-3 pb-3>
             <a href="{{ path('concept_edit',{id: concept.id}) }}"class="btn btn-light">Editer un concept</a>
        <a href="#" onclick=" event.preventDefault; confirm('confirmer la suppression') && 
        document.getElementById('js_delete-form').submit();"class="btn btn-light">supprimer</a>

        <form id="js_delete-form" action="{{path('concept_delete',{id: concept.id})}}" method="" style= "display:none;">
            <input type="hidden" name="_method" value="DELETE">

            <input type="submit" value="supprimer">
        </form>
        
        </div>		
       
    
    </div>

</div>





{% endblock %}